<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318299286189-b447fandeh0826g08vghpidhfei7k2ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318299286189-b447fandeh0826g08vghpidhfei7k2ke</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ9cXLBMwxi_ykwxqTIRGlLwXH4nTyQ3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>318299286189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kopico.pointdraw</string>
	<key>PROJECT_ID</key>
	<string>point-draw-web-app</string>
	<key>STORAGE_BUCKET</key>
	<string>point-draw-web-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318299286189:ios:f0e8b188c9355731473424</string>
	<key>DATABASE_URL</key>
	<string>https://point-draw-web-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>